langchain==0.3.0
langchain-text-splitters>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.1.0
chromadb
pypdf
python-dotenv
fastapi
uvicorn
python-multipart
tiktoken
rank_bm25
jieba
duckduckgo-search
black
sentence-transformers>=2.2.0
